@using Coba_Net.Models
@model RangeFilter
@using Coba_Net.Utils
@{
    var rand = new Formatter{}.GenerateRandomString(5);
    string currentPath = ViewData["CurrentPath"].ToString();
    string queryString = ViewData["QueryString"].ToString();
    string from = Model.From;
    string to = Model.To;
    string fromValue = string.Empty;
    string toValue = string.Empty;
    if (!string.IsNullOrEmpty(queryString))
    {
        var queryCollection = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(queryString);
        if (queryCollection.ContainsKey(to))
        {
            toValue = queryCollection[to];
        }
        if (queryCollection.ContainsKey(from))
        {
            fromValue = queryCollection[from];
        }
    }
}
<div class="flex flex-col flex-1 gap-1 md:max-w-[600px] min-w-[250px] relative">
    <span>@Model.Label</span>
    <form id="form-@rand" class="flex gap-2 w-full items-center">
        <input id="from-@rand" name="@from" value="@fromValue" class="bg-[#4e4f3e] h-[48px] w-full p-2 pl-4 py-3 rounded-lg flex gap-2 items-center" />
        <span>To</span>
        <input id="to-@rand" name="@to" value="@toValue" class="bg-[#4e4f3e] h-[48px] w-full p-2 pl-4 py-3 rounded-lg flex gap-2 items-center" />
        <button type="submit" hidden>lol</button>
    </form>
</div>

<script>
    document.querySelector("#form-@rand").addEventListener("submit", function(event) {
        event.preventDefault();
        const fromValue = document.querySelector("#from-@rand").value;
        const toValue = document.querySelector("#to-@rand").value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("@from", fromValue);
        urlParams.set("@to", toValue);
        window.location.href = `${window.location.pathname}?${urlParams.toString()}`;
    });
</script>