@model SearchBarProps

<div class="px-10 w-full justify-between flex gap-4">
    <div class="flex flex-1 gap-4">
        <form action="@Model.SearchPath" method="get" class="flex flex-1 rounded-lg bg-[#4e4f3e] shadow-lg text-white">
            <div class="flex-1">
                <input name="search" value="@Model.SearchValue" class="bg-transparent w-full h-full p-2 pl-4 rounded-l-lg" />
            </div>
            <div class="flex justify-center items-center px-4">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </form>
        <a class='@(Model.ButtonPath == null ? "hidden" : "")' href="@Model.ButtonPath">
            <button class="bg-[#2D4263] shadow-lg pr-6 flex items-center gap-2 shadow-lg p-3 hover:scale-105 transition-all duration-300 font-bold text-3xl rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                <span class="text-base">@Model.ButtonLabel</span>
            </button>
        </a>
        <div cldivss='@(Model.ModalButtonFunc == null ? "hidden" : "")'>
            <button onclick="@Model.ModalButtonFunc" class="bg-[#2D4263] shadow-lg pr-6 flex items-center gap-2 shadow-lg p-3 hover:scale-105 transition-all duration-300 font-bold text-3xl rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                <span class="text-base">@Model.ModalButtonLabel</span>
            </button>
        </div>
    </div>
    <a href="@Model.DownloadPath" class='@(Model.DownloadPath != null ? "" : "hidden")'>
        <button class="bg-[#116D6E] px-6 text-base shadow-lg flex items-center gap-2 shadow-lg p-3 hover:scale-105 transition-all duration-300 font-bold text-3xl rounded-lg">
            Download
        </button>
    </a>
</div>