@model Route[]
@{
    var currentPath = Context.Request.Path.ToString();
}

<div class="w-[300px] flex flex-col h-full bg-[#121212]">
    <div class="w-full py-6 px-4 gap-6 flex flex-col flex-1 items-center">
        <img alt="" class="w-[150px]" src="/logo.png" />
        <div class="flex flex-col gap-4 w-full">
            @foreach (var route in Model)
            {
                <a class='p-2 flex gap-2 items-center rounded-lg w-full @(currentPath.Contains(route.Path) ? "bg-[#2D4263]" : "")' href="@route.Path">
                    <div class="p-2">@route.Icon</div>
                    @route.Label
                </a>
            }
        </div>
    </div>
    <div class='flex w-full p-2 items-center gap-2 border-t-[2px] bg-[#2B2B2B] @(currentPath.Contains("/User/Profile") ? "border-[#51557E]" : "border-transparent")'>
        <div class="p-2">
            @if (ViewData["PpUrl"] == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>   
            }
            else
            {
                <img alt="" class="w-[30px] h-[30px] rounded-full object-cover" src='@ViewData["PpUrl"]'>
            }
        </div>
        <a href="/User/Profile" class="flex-1 flex flex-col">
            <span>@ViewData["Name"]</span>
            <span class="text-[11px] text-[#8FD6E1]">@ViewData["Email"]</span>
        </a>
        <form action="/User/Logout" method="post" class="p-2 flex items-center">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </button>
        </form>
    </div>
</div>