@model Car
@{
    ViewData["Title"] = Model?.Id == Guid.Empty ? "Add Car" : "Edit Car";
}

<div onclick="closeModalForm()" id="ModalForm" class='fixed w-screen inset-0 h-screen @(!ViewData.ModelState.IsValid || (Model?.Id != Guid.Empty) ? "flex" : "hidden") items-center justify-center z-[10] bg-[rgba(0,0,0,0.5)]'>
    <div id="ModalFormContent" class="bg-[#1e1e1e] text-white flex justify-center items-center gap-6 flex-col p-6 rounded-lg shadow-lg w-full max-w-[400px]">
        <span>@((Model?.Id == Guid.Empty) ? "Add" : "Edit") Car: </span>
        <form asp-action='@((Model?.Id == Guid.Empty) ? "Add" : "Edit")' method="post" class="flex flex-col gap-4 w-full max-w-[400px]">
            <input type="hidden" asp-for="Id" />
            <div class="flex flex-col gap-2">
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" class='bg-[#4e4f3e] p-2 px-4 rounded-md border-[2px] @(Html.ViewData.ModelState["Name"]?.Errors.Count > 0 ? "border-red-500" : "border-transparent")'>
                <span asp-validation-for="Name" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-2">
                <label asp-for="Brand">Brand:</label>
                <input asp-for="Brand" class='bg-[#4e4f3e] p-2 px-4 rounded-md border-[2px] @(Html.ViewData.ModelState["Brand"]?.Errors.Count > 0 ? "border-red-500" : "border-transparent")'>
                <span asp-validation-for="Brand" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-2">
                <label asp-for="Color">Color:</label>
                <input asp-for="Color" class='bg-[#4e4f3e] p-2 px-4 rounded-md border-[2px] @(Html.ViewData.ModelState["Color"]?.Errors.Count > 0 ? "border-red-500" : "border-transparent")'>
                <span asp-validation-for="Color" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-2">
                <label asp-for="Price">Price:</label>
                <input asp-for="Price" class='bg-[#4e4f3e] p-2 px-4 rounded-md border-[2px] @(Html.ViewData.ModelState["Price"]?.Errors.Count > 0 ? "border-red-500" : "border-transparent")' step="0.01">
                <span asp-validation-for="Price" class="text-red-500"></span>
            </div>
            <div class="flex justify-center w-full">
                <button type="submit" class="bg-[#2D4263] w-full hover:scale-105 transition-all duration-300 p-3 mt-2 font-bold rounded-md">@((Model?.Id == Guid.Empty) ? "Add" : "Edit") Car</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/ModalForm.js" asp-append-version="true"></script>