@model Car
@{
    ViewData["Title"] = Model.Id == Guid.Empty ? "Add Car" : "Edit Car";
    var fileError = ViewData.ModelState["file"]?.Errors?.FirstOrDefault()?.ErrorMessage;
}

<div class="flex flex-col gap-10 pb-10 h-full overflow-y-auto flex-1">
    <div class="flex w-full p-6 px-10 shadow-lg text-2xl font-bold bg-[#202020]">
        <span>@((Model.Id == Guid.Empty) ? "Add" : "Edit") Car: </span>
    </div>
    <div class="flex w-full justify-center items-center">
        <form asp-action='@((Model.Id == Guid.Empty) ? "Add" : "Edit")' enctype="multipart/form-data" method="post" class="bg-[#1e1e1e] flex flex-col gap-4 shadow-lg rounded-xl w-full p-6 max-w-[400px] overflow-y-auto">
            <input type="hidden" asp-for="Id" />
            <div class="flex flex-col gap-2">
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" class='bg-[#4e4f3e] p-2 px-4 rounded-md border-[2px] @(Html.ViewData.ModelState["Name"]?.Errors.Count > 0 ? "border-red-500" : "border-transparent")' required>
                <span asp-validation-for="Name" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-2">
                <label asp-for="Brand">Brand:</label>
                <input asp-for="Brand" class='bg-[#4e4f3e] p-2 px-4 rounded-md border-[2px] @(Html.ViewData.ModelState["Brand"]?.Errors.Count > 0 ? "border-red-500" : "border-transparent")' required>
                <span asp-validation-for="Brand" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-2">
                <label asp-for="Color">Color:</label>
                <input asp-for="Color" class='bg-[#4e4f3e] p-2 px-4 rounded-md border-[2px] @(Html.ViewData.ModelState["Color"]?.Errors.Count > 0 ? "border-red-500" : "border-transparent")' required>
                <span asp-validation-for="Color" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-2">
                <label asp-for="Price">Price:</label>
                <input asp-for="Price" class='bg-[#4e4f3e] p-2 px-4 rounded-md border-[2px] @(Html.ViewData.ModelState["Price"]?.Errors.Count > 0 ? "border-red-500" : "border-transparent")' step="1" min="0" required>
                <span asp-validation-for="Price" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-2">
                <span>Car Image:</span>
                <div>
                    <label for="fileInput" class="cursor-pointer rounded-full">
                        <img id="profileImage" src="@Model.PicUrl" alt="Profile Picture" class='max-h-[200px] @(Model.PicUrl == null ? "hidden" : "") h-[200px] rounded-lg object-cover'>
                        <svg id="defaultProfileImage" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class='bi bi-car-front-fill @(Model.PicUrl != null ? "hidden" : "")' viewBox="0 0 16 16">
                            <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
                        </svg>
                    </label>
                </div>
                <span class='@(fileError != null ? "" : "hidden") text-red-500'>@(fileError)</span>
                <input type="file" name="file" id="fileInput" accept=".jpg, .jpeg, .png" class="hidden">
            </div>
            <div class="flex justify-center w-full">
                <button type="submit" class="bg-[#2D4263] w-full hover:scale-105 transition-all duration-300 p-3 mt-2 font-bold rounded-md">@((Model.Id == Guid.Empty) ? "Add" : "Edit") Car</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/ImageUpload.js" asp-append-version="true"></script>